
.background-color{
    background-color: #0600A9;
    margin: auto;
}

.font-color-white{
    color: white;
}

a{
    font-size: 25px;
}

.font-size{
    font-size: 25px;
}

#hero1{
    background-image: url("../images/One.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;
}
#hero2{  background-image: url("../images/Two.png");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero3{  background-image: url("../images/Three.png");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero4{  background-image: url("../images/Four.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero5{  background-image: url("../images/Five.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero6{  background-image: url('../images/Six.jpg');
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero7{  background-image: url("../images/Seven.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero8{  background-image: url("../images/Eight.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero9{  background-image: url("../images/Nine.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero10{  background-image: url("../images/Ten.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero11{  background-image: url("../images/Eleven.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero12{  background-image: url("../images/Twelve.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero13{  background-image: url("../images/Thirteen.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero14{  background-image: url("../images/Fourteen.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}
#hero15{  background-image: url("../images/Fifteen.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;

}

#hero1pricing{ background-image: url("../images/OnePricing.jpg");
    width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-size: contain;
    
    
}
#hero2pricing{ background-image: url("../images/TwoPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero3pricing{ background-image: url("../images/ThreePricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero4pricing{ background-image: url("../images/FourPricing.jpg");
    width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-size: contain;
}
#hero5pricing{ background-image: url("../images/FivePricing.jpeg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero6pricing{ background-image: url("../images/SixPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero7pricing{ background-image: url("../images/SevenPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero8pricing{ background-image: url("../images/EightPricing.png");
    width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-size: contain;
}
#hero9pricing{ background-image: url("../images/NinePricing.jpg");
    width: 100%;
    height:400px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero10pricing{ background-image: url("../images/TenPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero11pricing{ background-image: url("../images/Eleven.jpg");
    width: 100%;
    height:300px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero12pricing{ background-image: url("../images/TwelvePricing.jpg");
    width: 100%;
    height:300px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero13pricing{ background-image: url("../images/ThirteenPricing.jpg");
    width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-size: contain;
}
#hero14pricing{ background-image: url("../images/FourteenPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}
#hero15pricing{ background-image: url("../images/FifteenPricing.jpg");
    width: 100%;
    height:600px ;
    background-repeat: no-repeat;
    background-size: contain;
}


.mytext{
    font-size: 25px;
    font-weight: 25px;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}  

.carousel-control-prev, .carousel-control-next{
    margin-top: 25rem;
    height: 5rem;
}

.container{
    margin-top: 8rem;
}
